.inputBody{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.input{
    width: 280px;
    height: 45px;
    text-align: left;
    
    opacity: 1;
    margin-right: 30px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    text-indent: 25px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    
}
.inputSelect{
    width: 285px;
    height: 45px;
    text-align: left;
    font: Medium 31px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-right: 30px;

}
.output{
    width: 280px;
    height: 45px;
   
    opacity: 1;
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 15px;
    text-indent: 25px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #000000;

}
.outputSelect{
    width: 285px;
    height: 45px;
    margin-left: 20px;
    font-weight: bold;
    line-height: 15px;
    display:inline-block;
    text-indent: 25px;
}
.to{
    margin-left: 20px;
    font: Medium 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.62;
}
.from{
    font: Medium 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.62;
}
